.title {
  text-align: center;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #e9dede;
}

.container-p {
  width: 100%;
}

.bloque {
  display: block;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}