<div class="title">
  <h3><b>Listado de Tarjetas</b></h3>
</div>

<div class="container-p">
  <div class="bloque" *ngFor="let item of list; let i = index">
    <hr>
    <div>
      {{item.titular}}
    </div>
    <div>
      {{item.numCard}}
    </div>
    <div>
      {{item.date}}
    </div>
    <div>
      <button mat-icon-button color="primary" (click)="editCard(i)">
        <mat-icon>border_color</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button color="warn" (click)="deleted(i)">
        <mat-icon>delete_sweep</mat-icon>
      </button>
    </div>
  </div>
</div>