<div class="title">
  <h3><b>{{title}}</b></h3>
</div>

<!-- https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/ -->

<div class="container-form">
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <mat-form-field class="block-question" appearance="outline">
      <mat-label>Titular</mat-label>
      <input
        #titular
        type="text"
        formControlName="titular"
        matInput
        name="titular"
        (input)="titular.value = titular.value.toUpperCase()"
      ><mat-error>Campo Obligatorio</mat-error>
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    
    <mat-form-field class="block-question" appearance="outline">
      <mat-label>Numero de Tarjeta</mat-label>
      <input
        type="number"
        matInput
        name="numCard"
        formControlName="numCard"
      ><mat-error>La Tarjeta Debe Contar con 12 Numeros</mat-error>
      <mat-icon matSuffix>credit_card</mat-icon>
    </mat-form-field>
    
    <mat-form-field class="block-midle" appearance="outline">
      <mat-label>MM/YY</mat-label>
      <input
        matInput
        name="date"
        formControlName="date"
      ><mat-error>Ingrese una Fecha Valida</mat-error>
      <mat-icon matSuffix>date_range</mat-icon>
    </mat-form-field>
    
    <mat-form-field class="block-midle" appearance="outline">
      <mat-label>CVV</mat-label>
      <input
        matInput
        name="password"
        autocomplete="false"
        [type]="hide ? 'password' : 'text'"
        formControlName="currentPassword"
      ><mat-error>*Obligatorio</mat-error>
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'vpn_key' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div class="button-form">
      <button *ngIf="!infos.edit" mat-raised-button color="accent">
        <mat-icon class="icon-save">
          check_circle
        </mat-icon>Aceptar
      </button>
      <button *ngIf="infos.edit" mat-raised-button color="accent">
        <mat-icon class="icon-save">
          border_color
        </mat-icon>Editar
      </button>
    </div>
  </form>
</div>
