.title {
  margin-top: 10px;
  text-align: center;
  color: darkslategray;
  font-size: 40px;
}

hr {
  margin: 0px auto;
  width: 90%;
  border: none;
  border-top: 1px solid #e9dede;
  clear: both;
}

.container-p {
  padding: 10px 5%;
}

.container-form {
  width: 45%;
  float: left;
}

.container-list {
  width: 55%;
  margin-left: 45%;
}
