<div>
  <h1 class="title">Tarjetas de Credito</h1>
  <hr>
</div>

<div class="container-p">
  <div class="container-form">
    <app-register [subject]="subject"></app-register>
  </div>
  <div class="container-list">
    <app-list (onInfo)="handleInfo($event)"></app-list>
  </div>
</div>